body 
{
	font-family: Arial, Helvetica, sans-serif;
}

td
{
	vertical-align:top;
}

a
{
	color: #000000;
	text-decoration:none;
	font-weight:bold;
}

a:hover
{
	color:#666666;
}

dt
{
	font-style:italic;
}

.header-text 
{
	font-size: x-large;
	font-weight: bold;
	color: #999999;
	background-color: #111155;
}

.footer-text 
{
	font-size: small;
	font-weight: bold;
	color: #CCCCAA;
	background-color: #111155;
}

.gutter-text
{
	background-color: #CCCCCC;
}

.section
{
	font-size:large;
	font-weight:bold;
}

.subsection
{
	font-size:medium;
	font-weight:bold;
}

.subsubsection
{
	font-weight:bold;
}

.menu-section
{
	font-weight:bold;
	text-decoration:none;
}

.menu-subsection
{
	font-weight:normal;
	font-style:italic;
	text-decoration:none;
}

.warning
{
	color:#CC0000;
	font-weight:normal;
}

.note
{
	font-size:smaller;
	font-style:italic;
}

.caption
{
	font-size:smaller;
	font-style:italic;
}